<%= form_with(model: club, local: true) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :activities, id: :club_activities %>
  </div>

  <div class="field">
    <%= form.label :先生チェック %>
    <%= form.check_box :tcheck, id: :club_tcheck %>
  </div>

  <div class="field">
    <%= form.label :生徒チェック %>
    <%= form.check_box :scheck, id: :club_scheck %>
  </div>

  <div class="field">
    <%= form.label :先生チェック日時 %>
    <%= form.datetime_select :tcheck_updated_at, id: :club_tcheck_updated_at %>
  </div>

  <div class="field">
    <%= form.label :生徒チェック日時 %>
    <%= form.datetime_select :scheck_updated_at, id: :club_scheck_updated_at %>
  </div>

  <div class="field">
    <%= form.label :場所 %>
    <%= form.number_field :place_id, id: :club_place_id %>
  </div>

  <div class="field">
    <%= form.label :部活名 %>
    <%= form.number_field :club_name_id, id: :club_club_name_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
