<%= form_with(model: club, local: true) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field box-1">
    <%= form.label :内容 %>
    <%= form.text_area :activities, id: :club_activities %>
  </div>

  <div class="field check1">
    <%= form.label :先生チェック  %>
    <input type="radio" class="option-input radio1" name="tcheck" checked />
  </div>

  <div class="field check2">
    <%= form.label :生徒チェック %>
    <input type="radio" class="option-input radio2" name="scheck" />

  </div>

  <div class="field">
    <%= form.label :先生チェック日時 %>
    <%= form.datetime_select :tcheck_updated_at, id: :club_tcheck_updated_at %>
  </div>

  <div class="field">
    <%= form.label :生徒チェック日時 %>
    <%= form.datetime_select :scheck_updated_at, id: :club_scheck_updated_at %>
  </div>

  <div class="field">
    <%= form.label :場所 %>
    <div class="row">
    <% Place.all.order(:sort).each do |p| %>
     <div class="col-md-3">
      <p><%= form.radio_button :place_id,p.id %><%= p.name %></P>
      <%= image_tag "places/#{p.place_image}", size: "240x180" unless p.place_image.blank? %></p>
      <br>
    </div>
    <% end %>
  </div>


  <div class="field">
    <%= form.hidden_field :club_name_id, id: :club_club_name_id,:value=>session[:club_name_id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


 

	<input type="radio" class="option-input radio" name="cpipr02" checked />

</div>
<% end %>
