<p id="notice"><%= notice %></p>

<h1><%= club_name(@club_name.to_i) %></h1>
<img src="<%= club_name_illust(@club_name.to_i) %>">
<div class="row" >
 <%= link_to(clubs_path(club_name: @club_name,activitiesdate: @yesterday)) do %>
  <div class="col-md-4">
 <<前日
 </div>
 <% end %>
 <div class="col-md-4">
   <%= @today %> (<%= @yobi %>)
</div>
 <%= link_to(clubs_path(club_name: @club_name,activitiesdate: @tomorrow)) do %>
  <div class="col-md-4">
  翌日>>
 </div>
<% end %>
</div>
<% if @club_find.blank? %>
  <p>データがありません</p>
<% else %>
<table border = 1 align="center">
<tr>
<td>
<p>
<%= @club_find.activities %>
</P>
</td>
<td>
<p>
<%= @club_find.place.name %>
<br>
<% if @club_find.place.place_image.present? %>
 <br>
 <%= image_tag "places/#{@club_find.place.place_image}", size: "240x180" %>
 <% end %>
</P>
</td>
</tr>
<tr>
<td>

 <%= form_tag('/comments') do %>
  <%= hidden_field :comment, :club_id, :value => @club_find.id %>
  <p>
  <%= text_field :comment, :comment %>
  <%= submit_tag "コメントを追加する" %>
  </p>
<% end %>

<% unless @club_find.comments.present? %>
 <p>コメントはありません</p>
 <% else %>
<% @club_find.comments.each do |c| %>
  <p>
  <%= c.created_at.strftime("%m月%d日 %H時%M分") %>
  <%= link_to '削除', c, method: :delete, data: { confirm: 'このコメントを削除してもいいですか?' } %>
  </p>
  <p>
  <%= c.comment %>
  </p>
<% end %>
<% end %>

</td>
<td>
<p>
先生チェック <%= @club_find.tcheck %>
<br>
<%= @club_find.tcheck_updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
</p>
<p>
生徒チェック <%= @club_find.scheck %>
<br>
<%= @club_find.scheck_updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
</p>
</td>
</tr>
</table>
<div class="lank">
<%= link_to '編集', edit_club_path(@club_find),{class: "btn btn-primary"} %>
<%= link_to '削除', @club_find, {class: "btn btn-danger",method: :delete,data: { confirm: 'Are you sure?' }} %>
</div>
<% end %>


<br>
<% if session[:teacher] == true or session[:admin] == true %>
<div class="lnk">
<%= link_to '活動内容を入力する', new_club_path,{class: "btn btn-success"} %>
</div>
<% end %>

<br>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>
