<p id="notice"><%= notice %></p>

<h1>部活動</h1>
<div class="right">
       <%= @today %> (<%= @yobi %>)
</div>

<p>
<%= @club_find[0].activities %>
</P>
<p>
<%= @club_find[0].place.name %>
</P>






<div class="text_left">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>部活名</th>
      <th>活動内容</th>
      <th>先生チェック</th>
      <th>生徒チェック</th>
      <th>場所</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td rowspan="2"><%= club.club_name.name %></td>
        <td><%= club.activities %></td>
        <td><%= club.tcheck %><br><%= club.tcheck_updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= club.scheck %><br><%= club.scheck_updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= club.place.name %></td>
        <td><%= link_to '詳細', club %></td>
        <td><%= link_to '編集', edit_club_path(club) %></td>
        <td><%= link_to '削除', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <tr>
        <td colspan="7">
        <p><b>コメント</b></p>
        <%= form_tag('/comments') do %>
          <%= hidden_field :comment, :club_id, :value => club.id %>
          <p>
          <%= text_field :comment, :comment %>
          <%= submit_tag "コメントを追加する" %>
          </p>
        <% end %>
        
        <% club.comments.each do |c| %>
          <p>
          <%= c.created_at.strftime("%m月%d日 %H時:%M分") %>
          <%= link_to '削除', c, method: :delete, data: { confirm: 'このコメントを削除してもいいですか?' } %>
          </p>
          <p>
          <%= c.comment %>
          </p>
        <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>

<br>
<% if session[:teacher] == true or session[:admin] == true %>
  <%= link_to '活動内容を入力する', new_club_path %>
<% end %>

<br>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>
