<p id="notice"><%= notice %></p>

<h1>コメント</h1>

<table>
  <thead>
    <tr>
      <th>コメント</th>
      <th>部活</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= comment.club_id %></td>
        <td><%= link_to '詳細', comment %></td>
        <td><%= link_to '編集', edit_comment_path(comment) %></td>
        <td><%= link_to '削除', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しくコメントを打つ', new_comment_path %>


