<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Club:</strong>
  <%= @comment.club_id %>
</p>

<p><b>コメント</b></p>
<% @club.comments.each do |c| %>
  <p>
  <%= c.comment %>
  </p>
<% end %>

<%= link_to '編集', edit_comment_path(@comment) %> |
<%= link_to '戻る', comments_path %>
