<header>
 <div class="SideBySide">
  <h1 class ="sample"><img src="pocky.png" alt="Pocky"></h1>
  <a href="#"><h1>Pocky<h1></a>
 </div>
 <div class="right">
   <%= @today %> (<%= @yobi %>)
  </div>
 <nav id="global-nav">
    <ul class="nav nav-pills nav-justified">
      <li><a href="club_names">部活動一覧</a></li>
      <li><a href="weathers">天気</a></li>
      <li><a href="#">交通状況</a></li>
      <li><a href="#">お問い合わせ</a></li>
<<<<<<< HEAD
      <li><a href="users">ログイン</a></li>
=======
      <% if session[:username] == "" %>
      <li><%= link_to 'ログイン', home_login_path %></li>
      <% else %>
      <li><%= link_to 'ログアウト', home_logout_path %></li>
      <% end %>

>>>>>>> ddcbd10eb6eeeb3b1b60f42ce98f3953690855c7
    </ul>
  </nav>
</header>

<main>
 <h3>部活動一覧</h3>
 <div style="text-align:center">
   <div class="row" style="text-align:center">
     <% ClubName.all.order(:sort).each do |club_name| %>
       <a href="clubs">
         <span class="col-md-3 col-xs-offset-1 box"><%= club_name.name %></span>
       </a>
     <% end %>
   </div>
 </div>

 <h3>天気</h3>
 <div class="row">
   <% @weather.each do |weather| %>
     <div class="col-md-2">
     <div class="date"><%= weather.date.strftime("%m/%d %H:%M") %></div>
     <br>
     <div class="thumbnail"><img src="<%= weather_img(weather.weather_id) %>"></div>
     <br>
     <%= weather_string(weather.weather_id) %>
     <br>
     <div class="max"><%= weather.temp_max %></div>
     <div class="min"><%= weather.temp_min %></div>
     </div>
   <% end %>
  </div>

 <h3>交通状況</h3>
</main>

<footer>

</footer>
