<p id="notice"><%= notice %></p>

<h1>Select Places</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Club</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @select_places.each do |select_place| %>
      <tr>
        <td><%= select_place.id %></td>
        <td><%= select_place.club_id %></td>
        <td><%= select_place.place_id %></td>
        <td><%= link_to 'Show', select_place %></td>
        <td><%= link_to 'Edit', edit_select_place_path(select_place) %></td>
        <td><%= link_to 'Destroy', select_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Select Place', new_select_place_path %>
