<p id="notice"><%= notice %></p>

<h1>天気</h1>

<table class="table">
<tr>
 <% @weathers.each_with_index do |weather,i| %>
  <td>
  <table class="table">
   <thead>
     <tr>
       <% if i == 0 %>
       <th>日時</th>
       <% end %>
       <th scope="col"><strong><div class="date"><%= weather.date.strftime("%m/%d %H:%M") %></div></strong></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <% if i == 0 %>
       <th scope="row">天候</th>
       <% end %>
       <td><div class="thumbnail"><img src="<%= weather_img(weather.weather_id) %>"></div></td>
     </tr>
     <tr>
       <% if i == 0 %>
       <th scope="row">天候</th>
       <% end %>
       <td><%= weather_string(weather.weather_id) %></td>
     </tr>
     <tr>
       <% if i == 0 %>
       <th scope="row" nowrap>最高気温</th>
       <% end %>
       <td><div class="max"><%= weather.temp_max %></div></td>
     </tr>
     <tr>
       <% if i == 0 %>
       <th scope="row">最低気温</th>
       <% end %>
       <td><div class="min"><%= weather.temp_min %></div></td>
     </tr>
     <tr>
       <% if i == 0 %>
       <th scope="row">体感気温</th>
       <% end %>
       <td><%= weather.temp_feel %></td>
     </tr>  
     <tr>
       <% if i == 0 %>
       <th scope="row">降水量</th>
       <% end %>
       <td><%= weather.rainfall %></td>
     </tr>
    </tbody>
    </table>
    </td>
  <% end %>
  </tr>
</table>


<br>

<p>新しい天気情報を取得するにはコマンドを入れてください</p>

<br>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>