<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :place_name %>
  </div>

  <div class="field">
    <%= form.label :place_image %>
    <%= form.file_field :place_image, id: :place_place_image %>
  </div>


  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, id: :place_memo %>
  </div>

  <div class="field">
    <%= form.label :sort %>
    <%= form.number_field :sort, id: :place_sort %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
