<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Place image:</strong>
  <% if @place.place_image.present? %>
  <%= @place.place_image %>
  <br>
  <%= image_tag "places/#{@place.place_image}",size: '320x240' %>
  <% end %>
</p>
    
<p>
  <strong>Memo:</strong>
  <%= @place.memo %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @place.sort %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
