<!DOCTYPE html>
<html>
  <head>
    <title>Pocky</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="alert"><%= flash[:notice] %></div>

  <%= session[:username] %>:
  
  <% if session[:admin] %>
    "管理者"
  <% else %>
    <% if session[:teacher] == true %>
      "先生"
    <% else %>
      "生徒"
    <% end %>
  <% end %>
  

  <%= yield %>
 
  <%= link_to "ホーム", 'http://localhost:3000/', class: 'btn btn-info' %>
  </body>
</html>
